$dkgray: #4a525a;
$mdgray: #656c74;
$ltgray: #b7bcc2;
$beige: #d7d7b8;
$ltbeige: #f5f6d7;
$turq: #4da4a4;
$turq25: rgba(77,164,164,0.25);
$turq50: rgba(77,164,164,0.5);
$ltturq: #92ccbf;
$black: #1d2929;
$black50: rgba(29,41,41,0.5);
$black75: rgba(29,41,41,0.75);
$white: #eef2f2;
$white25: rgba(238,242,242,0.25);
$white60: rgba(238,242,242,0.6);
$pink: #bd5ca3;
$green: #92d05c;
$green50: rgba(146,208,92,0.5);
$mdgreen: #b6ec86;

@mixin sans($weight) {
  font-family: Helmet, FreeSans, sans-serif;
  font-weight: $weight;
}

@mixin serif($weight) {
  font-family: Cambria, 'Book Antiqua', Caslon, 'Times New Roman', Times, serif;
  font-weight: $weight;
}

@mixin display($weight) {
  font-family: ostrich-sans, Univers, 'Helvetica Neue', Helmet, sans-serif;
  font-weight: $weight;
}

@mixin float($dir) {
  float: $dir;
  display: inline;
  overflow: hidden;
}

@mixin animate($time, $scope) {
  -webkit-transition: $scope ease-in-out $time;
  -moz-transition: $scope ease-in-out $time;
  transition: $scope ease-in-out $time;
}

@mixin rounded($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin insetshadow {
  -webkit-box-shadow: inset 0 0 5px $black50;
}

@mixin button {
  background: $turq url(../img/bg/grad-button.png) left top repeat-x;
  padding: 5px 10px 4px;
  display: inline-block;
  border: 1px solid $turq;
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 3px $black50;
  -moz-box-shadow: 0 0 3px $black50;
  -o-box-shadow: 0 0 3px $black50;
  box-shadow: 0 0 3px $black50;
  text-shadow: 0 -1px 0 $turq50;
  @include rounded(4px);
  @include sans(700);
  @include animate(0.1s, all);
  &:hover {
    color: #fff;
    background-color: $green;
    border-color: $green;
  }
}



/*-  VANITY STYLES
----------------------------------------------------------------------*/

::selection { background: $green50; text-shadow: none; }
::-moz-selection { background: $green50; text-shadow: none; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

@media only screen and (max-device-width: 480px) {

  html {-webkit-text-size-adjust: none}
  a:link {-webkit-tap-highlight-color: $green50;}
  
}





/*- SHARED STYLES PLUS SUB 480PX MEDIA QUERY STYLES
----------------------------------------------------------------------*/

body {
  font-size: 62.5%; /* Reset 1em to 10px */
  line-height: 1.3;
  min-height: 100%;
  background: url(../img/bg/noise.png) center top repeat, url(../img/logos/stamp.png) 90% 105% no-repeat $white;
  @include sans(500);
}

body, select, input, textarea { color: $black; }
a { text-decoration: none; color: $turq; }

/* HEADER */

header {
  overflow: hidden;
  background-color: $dkgray;
  background-image:  url(../img/bg/noise.png), -webkit-gradient(linear, left top, left bottom, from($mdgray), to($dkgray)); /* Saf4+, Chrome */
  background-image: url(../img/bg/noise.png), -webkit-linear-gradient(top, $mdgray, $dkgray); /* Chrome 10+, Saf5.1+ */
  background-image:    url(../img/bg/noise.png), -moz-linear-gradient(top, $mdgray, $dkgray); /* FF3.6 */
  background-image:     url(../img/bg/noise.png), -ms-linear-gradient(top, $mdgray, $dkgray); /* IE10 */
  background-image:      url(../img/bg/noise.png), -o-linear-gradient(top, $mdgray, $dkgray); /* Opera 11.10+ */
  background-image:         url(../img/bg/noise.png), linear-gradient(top, $mdgray, $dkgray);
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid $mdgray;
  -webkit-box-shadow: 0 1px 0 $black;
  -moz-box-shadow: 0 1px 0 $black;
  -o-box-shadow: 0 1px 0 $black;
  box-shadow: 0 1px 0 $black;
  @include sans(900);
}

.no-boxshadow header {
  border-bottom: 2px solid $black;
}

header h1 {
  width: 213px;
  height: 60px;
  margin: 0 0 0 10px;
  a {
    text-indent: -9999px;
    display: block;
    height: 50px;
    width: 203px;
    padding: 5px;
    background: url(../img/logos/cs-logo.png) 5px 5px no-repeat;
    border-top: 1px solid transparent;
    @include rounded(5px);
    &:hover {
      background-color: $white25;
      border-top: 1px solid $black75;
      color: $white;
    }
  }
}

header nav {
  margin-top: 5px;
  clear: both;
  text-align: center;
}

header nav li {
  display: inline-block;
  padding: 1px;
  margin: 0 5px;
}

.vote {
  position: absolute;
  top: 28px;
  right: 10px;
}

header nav li a {
  padding: 4px 5px 5px;
  font-size: 1.2em;
  color: $white;
  opacity: 0.6;
  text-transform: uppercase;
  text-shadow: 0 -1px $black;
  display: block;
  position: relative;
  line-height: 1;
  border-top: 1px solid transparent;
  @include animate(0.2s, all);
  @include rounded(4px);
  &:hover {
    opacity: 1;
    background: $white25;
    border-top: 1px solid $black75;
    color: $white;
  }
}

/* LEADER */

#leader {
  position: relative;
  padding: 15px 10% 30px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px dashed #fff;
  h1 {
    font-size: 4.5em;
    color: $ltgray;
    text-transform: uppercase;
    text-shadow: 0 -1px 1px $black50, 0 1px 0 #fff;
    line-height: 1;
    @include display(400);
  }
  p {
    font-size: 1.7em;
    text-shadow: 0 1px 0 #fff;
    color: $black;
    @include serif(500);
  }
}

/* FEATURED ROOMS */

#featured {
  padding: 30px 20px 20px;
  border-bottom: 1px dotted #fff;
  > h1 {
    font-weight: 400;
    font-size: 3.75em;
    text-align: center;
    color: $ltgray;
  }  
  > a {
    background: #fff;
    display: block;
    margin: 10px 0;
    padding: 10px 10px 0;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px $black50;
    -moz-box-shadow: 0 1px 2px $black50;
    -o-box-shadow: 0 1px 2px $black50;
    box-shadow: 0 1px 2px $black50;
    img {
      width: 100px;
      height: 100px;
      @include float(left);
      margin: 0 10px 10px 0;
    }
    h1 {
      font-size: 2em;
      color: $dkgray;
      text-shadow: none;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2em;
    }
    time {
      display: block;
      font-size: 1.2em;
      color: $dkgray;
      font-weight: 700;
      margin-bottom: 10px;
    }
    time.now {
      color: $green;
      text-transform: uppercase;
    }
    p {
      color: $ltgray;
      font-size: 1.1em;
      margin-bottom: 10px;
      @include animate (0.1s, all);
    }
    &:hover {
      background: #f2f8ff;
      p, time.now, time {
        color: $black;
      }
    }
  }
  
}

/* TYPOGRAPHY */

section h1 {
  font-size: 2.8em;
  color: $turq;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px $black50, 0 1px 0 #fff;
  line-height: 1;
  @include display(900);
}

aside h1 {
  font-size: 2.6em;
  color: $dkgray;
  text-shadow: 0 1px 0 $white;
}
.support p {
  font-size: 1.3em;
}
  
/* LINKS */

a{
  padding: 0 1px;
  @include animate(0.1s, all);
  &:hover {
    color: $black;
    background-color: $ltturq;
    background-color: $turq25;
  }
}

.button {
  @include button;
}

/* SUPPORT */

.support article {
  margin-bottom: 40px;
  margin-top: 20px;
}

/* STAGE */

#stage, #chat {
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

#ace-editor {
  width: 100% !important;
  display: block;
  position: relative;
  height: 200px !important;
  margin: 15px 0;
  background: #fff;
  border: 1px solid $beige;
}

#stage {
  background: rgba(255,255,255,.7);
  margin-top: -20px;
}

.invite, #run-code {
  margin-top: 10px;
}

#run-code {
  margin-left: 10px;
}

#stage-settings, #editor {

  label { 
    font-size: 1.2em;
    display: inline-block;
    margin-right: .5em;
  }

  select {
    margin-right: 1.5em;
    width: 70%;
    
    option[data-file="file-new"] {
      font-style: italic;
    }
    
  }

  .import {
    margin-top: 10px;
  }

}

#stage-settings {
  margin: 0;
  legend {
    display: none;
  }
  input, label {
    margin-top: 1em;
  }
  input[type="text"] {
    width: 40px;
    position: relative;
    top: -7px;
    margin-right: 1em;
  }
  input { 
    margin-right: 1.5em;
  }
  input[type="submit"] {
    background: transparent;
    border: 0;
    padding: 0;
    text-shadow: none;
    color: $turq;
    font-weight: 500;
    margin-top: -5px;
    @include animate(0.2s, all);
    &:hover {
      color: $dkgray;
    }
  }
  label {
    margin-right: 0.5em;
  }
}

/* ACE HAMMERS */

.ace_gutter {
width: 7.1428571428571% !important; /* 50 / 560 */
}

.ace_scroller {
width: 89.2857142857143% !important; /* 500 / 560 */
}

.ace_content {
width: 100% !important;
}

/* STAGE LIST */

#stage-list {

  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  
  #search {
    width: 100%;
    input {
      width: 100%;
    }
  }
  
  > a {
    background: #fff;
    display: block;
    margin: 10px 0;
    padding: 10px;
    -webkit-box-shadow: 0 1px 2px $black50;
    -moz-box-shadow: 0 1px 2px $black50;
    -o-box-shadow: 0 1px 2px $black50;
    box-shadow: 0 1px 2px $black50;
    h1 {
      font-size: 2em;
      color: $dkgray;
      text-shadow: none;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2em;
    }
    p {
      color: $ltgray;
      font-size: 1.1em;
      @include animate (0.1s, all);
    }
    small {
      color: $ltgray;
      font-style: italic;
      font-size: 1em;
      display: block;
      @include animate (0.1s, all);
    }
    &:hover {
      background: #f2f8ff;
      p, small {
        color: $dkgray;
      }
    }
  }
  > a#create {
    p {
      font-size: 1.4em;
      text-align: center;
      font-weight: 700;
    }
  }
  
}

/* CHAT */

#chat {
  background: $white;
  background: rgba(255,255,255,.7);
  padding: 20px; /* 20 / 560 */
  margin-top: -20px;
  border-top: 2px solid $ltgray;
  border-bottom: 2px solid $ltgray;
}

#text-chat {
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

#conversation {
  height: 200px;
  overflow-y: auto;
  margin-top: 5px;

  article {
    font-size: 1.1em;
    margin: 0 0 .4em;

    p {
      color: $mdgray;
    }

    strong {
      color: $ltturq;
    }

  }

  .empty {
    font-style: italic;
  }
  
  .coder strong {
    color: $turq;
  } 

  .owner strong {
    color: $black;
  }

  .baton strong {
    color: $green;
  }
  
}

#chat {

  input[type="text"] {
    width: 100%;
    margin-right: 0%;
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
  }
  
  input[type="submit"] {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    @include button;
    margin-top: 10px;
  }

}
  
#video-chat {
  display: none;
  overflow: hidden;
}
  
/* ATTENDEES */

aside {
  padding: 0 20px;
}

#attendees {
  overflow: visible;
  margin-bottom: 20px;
  .button {
    font-size: 1.4em;
    margin: 0 0 10px;
    display: block;
    background-color: $ltgray;
    border-color: $ltgray;
    text-align: center;
    &:hover {
      background-color: $mdgray;
      border-color: $mdgray;
    }
  }
  mark {
    font-size: .9em;
    color: $turq;
    font-style: normal;
    background: transparent;
  }
  h1 > a {
    left: -17px;
    margin-bottom: 5px;
    font-size: .5em; /* 12 / 20 */
    padding: 4px 5px 5px 20px;
    position: relative;
    text-shadow: none;
    background: {
      image: url(../img/icons/sprite.png);
      position: -258px -29px;
      repeat: no-repeat;
    }
    @include rounded(4px);
    @include sans(500);
    @include float(left);
    @include animate(0.1s, background-color);
    &:hover {
      background-position: -58px -29px;
    }
  }
  ol {
    font-size: 1.3em;
    margin-top: 0.4em;
    clear: both;
  }
  li {
    padding: 4px 5px;
    position: relative;
    list-style-type: none;
    color: $ltturq;
    &:hover {
      background-color: $white;
      cursor: pointer;
    }
  }
  li.attendee {
    border-top: 1px solid $white;
    font-weight: 700;
    ul {
      overflow: hidden;
      li {
        font-size: .9em;
        text-align: right;
        padding: 2px 10px 2px 0;
        float: left;
        display: inline;
        a {
          font-weight: normal;
          text-shadow: none;
          &:hover {
            background: none;
            cursor: pointer;
          }
        }
      }
    }
    section {
      h1 {
        display: none;
      }
    }
  }
  li.baton:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/icons/sprite.png) -63px -33px no-repeat;
    position: absolute;
    left: -13px;
    top: 7px;
  }
  li.request:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/icons/sprite.png) -3px -94px no-repeat;
    position: absolute;
    left: -13px;
    top: 7px;
  }
  .coder {
    color: $turq;
  } 

  .owner {
    color: $black;
  }

  .baton {
    color: $green;
  }
  
}

/* FOOTER */

footer {
  clear: both;
  padding: 20px;
  border-top: 2px solid $ltgray;
  nav {
    margin-bottom: 5px;
    overflow: hidden;
    margin-left: -3px;
    li {
      font-size: 1.2em;
      @include float(left);
      margin-right: 1em;
      a {
        padding: 3px 3px 0;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        @include rounded(4px);
      }
    }
  }
  small {
    clear: both;
    display: block;
    color: $mdgray;
    font-size: 1em;
    width: 100%;
  }
}


/* NOTIFICATIONS */

#notification {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: $green;
  color: $white;
  text-shadow: 0 -1px 0 $black50;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
  font-size: 2em;
  @include sans(700);
}

@-webkit-keyframes slideDown {
    0% { -webkit-transform: translateY(-400px); }
    10%, 100% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0% { -moz-transform: translateY(-400px); }
    10%, 100% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #notification {
    -webkit-transform: translateY(-400px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-400px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
  display: none;
}
#close {
  display: inline;
  color: $dkgray;
  text-shadow: none;
  font-size: .75em;
  font-weight: 500;
  padding: 0;
  &:hover {
    color: #000;
    cursor: pointer;
    background: transparent;
  }
}

/* MODALS */

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqModal {
  display: none;
  position: fixed;
  top: 17%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  background: url(../img/bg/noise.png) center top repeat, url(../img/logos/stamp.png) 98% 150% no-repeat $white;
  @include rounded(10px);
  -webkit-box-shadow: 0 0 20px $black50;
  .close {
    position: relative;
    left: 20px;
    top: -15px;
  }
}

#git-modal {
  padding: 20px;
  overflow: hidden;
  img {
    @include float(left);
  }
  a.login {
    display: block;
    text-align: center;
    font-size: 2.2em;
    margin-top: 10px;
    margin-bottom: .75em;
    @include rounded(10px);
  }
  p {
    font-size: 1.6em;
  }
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqModal, .git-modal {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* FORMS */

form[action="/stages"] {
  
  max-width: 400px;  
  padding: 20px;
  
  h1 {
    font-size: 2.8em;
    color: $turq;
    text-transform: uppercase;
    line-height: 1;
    @include display(900);
  }
  
  label {
    font-size: 1.4em;
    color: $dkgray;
    text-transform: uppercase;
    display: block;
    margin: 0 0 5px;
    @include sans(700);
  }
  
  input[type="text"], select {
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    @include button;
  }
  
  p.loggedin, a.login {
    margin: .5em 0 1em;
  }
  
}
  




/* MEDIA QUERIES
-------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {

  /* HEADER */
  
  header {
    padding: 10px 2.08033333%; /* 10 & 20 / 960 */
    width: 95.833333%; /* 920 / 960 */
  }
  
  header h1 {
    float: left;
    margin: 0;
  }
    
  /* LEADER */
  
  #leader {
    padding: 50px 10% 50px;
    width: 70%;
    h1 {
      font-size: 3.8em;
    }
    p {
      font-size: 1.5em;
    }
  }
  
  #leader:before, #leader:after {
    color: #fff;
    font-size: 175px;
    font-weight: 700;
    position: absolute;
    top: -35px;
  }
  #leader:after {
    content: '}';
    right: 0;
  }
  #leader:before {
    content: '{';
    left: 0;
  }
    
  /* FEATURED ROOMS */
  
  #featured {
  
    padding: 4.1666666666667% 0 4.1666666666667% 4.1666666666667%; /* 20 / 480 */
    overflow: hidden;
    
    > a {
      width: 41.6666666666667%; /* 200 / 480 */
      margin: 2.0833333333333% 4.1666666666667% 0 0; /* 20 / 480 */
      padding: 2.0833333333333%; /* 10 / 480 */
      @include float(left);
      img {
        width: 75px;
        height: 75px;
      }
    }
    
    > a:nth-of-type(2n+1) {
      clear: left;
    }
  }
  
  /* STAGE LIST */

  #stage-list {
  
    padding: 4.1666666666667% 0 4.1666666666667% 4.1666666666667%; /* 20 / 480 */
    
    #search {
      width: 95.6521739130435%;
    }
    
    > a {
      width: 41.6666666666667%; /* 200 / 480 */
      margin: 2.0833333333333% 4.1666666666667% 0 0; /* 20 / 480 */
      padding: 2.0833333333333%; /* 10 / 480 */
      @include float(left);
    }
    
    > a:nth-of-type(2n+1) {
      clear: left;
    }
  }

}/*/mediaquery*/

@media screen and (min-width: 600px) {

  header nav li a {
    font-size: 1.3em;
  }
  
  /* LEADER */
  
  #leader {
    h1 {
      font-size: 4.5em;
    }
    p {
      font-size: 1.6em;
    }
  }
  
  /* STAGE LIST */

  #stage-list {
  
    padding: 3.3333333333333% 0 3.3333333333333% 3.3333333333333%; /* 20 / 600 */
    
    #search {
      width: 96.551724137931%; /* 560 / 580 */
    }
    
    > a {
      width: 26.45%; /* 150 / 580 */
      margin: 1.7241379310345% 3.448275862069% 0 0; /* 20 / 580 */
      padding: 1.7241379310345%; /* 10 / 580 */
    }
    
    > a:nth-of-type(2n+1) {
      clear: none;
    }
    
    > a:nth-of-type(3n+1) {
      clear: left;
    }
  }

}/*/mediaquery*/

@media screen and (min-width: 768px) {
  
  /* HEADER */

  header nav {
    @include float(right);
    text-align: left;
    clear: none;
    margin-top: 30px;
  }
  
  header nav li {
    @include float(left);
  }

  header nav li a {
    font-size: 1.4em;
  }
  
  .vote {
    top: 11px;
  }
  
  /* LEADER */
  
  
  #leader {
    padding: 40px 8%;
    width: 64%;
    h1 {
      font-size: 5.5em;
    }
    p {
      font-size: 1.6em;
    }
  }
  
  /* COLUMNS */
  
  #main {
    width: 62.5%; /* 560 / 960 */ 
    margin-left: 2.08033333%; /* 20 / 960 */
    @include float(left);
  }

  aside {
    padding: 0;
    width: 31.25%; /* 300 / 960 */
    margin-right: 2.08033333%; /* 20 / 960 */
    @include float(right);
    overflow: visible;
  }
  
  /* PAGE COMPONENTS */
  
  #stage, #chat {
    padding: 2.6785714285714% 3.5714286%; /* 20 / 560 */
  }
  
  #ace-editor {
    height: 300px !important;
  }
  
  #stage {
    margin-top: 0;
    @include rounded(6px);
    @include insetshadow;
  }
  
  #attendees {
    padding: 7.6923077% 0 0; /* 20 / 260 */
    margin-bottom: 20px;
  }

  #chat {
    padding: 2.6785714285714% 3.5714286%; /* 20 / 560 */
    margin-top: 0;
    border-top: 0;
    @include rounded(10px);
  }
  
    /* STAGE */
    
    .invite, #run-code {
      position: absolute;
      top: 4.1%;
      right: 3.5714286%;
      margin-top: 0;
    }
    #run-code {
      right: 28%;
    }
    
    #stage-settings, #editor {

      select {
        width: 50%;
      }

      .import {
        @include float(right);
        margin-top: 0;
      }

    }
    
    #stage-settings {
      margin: 0.5em 0 0;
      legend {
        display: inline-block;
        color: $ltgray;
        font-size: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
        background: url(../img/forms/select_arrow.gif) 100% 6px no-repeat;
        padding-right: 16px;
        @include animate(0.1s, color);
        &:hover {
          cursor: pointer;
          color: $mdgray;
        }
      }
      legend.open {
        background-position: 100% -25px;
      }
      input, label {
        display: none;
      }
      label {
        line-height: 2.4;
      }
    }

  /* STAGE LIST */
  
  #stage-list {
  
    padding: 2.6041666666667% 0 2.6041666666667% 2.6041666666667%; /* 20 / 768 */
    
    > h1 {
      @include float(left);
    }
    
    #search {
      width: 32.5520833333333%; /* 250 / 768 */
      margin-right: 2.6041666666667%;
      @include float(right);
    }
    
    > a {
      width: 19.6524064171123%; /* 147 / 748 */
      margin: 1.3368983957219% 2.6737967914439% 0 0; /* 20 / 748 */
      padding: 1.3368983957219%; /* 10 / 748 */
    }
    
    > a:nth-of-type(3n+1) {
      clear: none;
    }
    
    > a:nth-of-type(4n+1) {
      clear: left;
    }
  }

  /* TEXT CHAT */
  
  #conversation {
    height: 150px;
    article {
      font-size: 1.3em;
    }
  }
  
  #chat {
  
    border-bottom: 0;

    input[type="text"] {
      width: 80%;
      margin-right: 3%;
    }
    
    input[type="submit"] {
      width: 16%;
      margin-top: 0;
      @include float(right);
    }

  }
  
  /* VIDEO CHAT */
  
  #video-chat {
    text-align: center;
    display: block;
        
    article {
      background: $ltgray url(../img/bg/empty-video.png) 50% 50% no-repeat;
      position: relative;
      padding-bottom: 18.75%; /* 16:9 */
      height: 0;
      width: 30%;
      height: auto !important;
      margin: 0 5% 5% 0;
      @include float(left);
      @include insetshadow;
      object, embed  {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    
    article:last-of-type {
      margin-right: 0;
    }
    
    .baton {
      padding-bottom: 56.25%; /* 16:9 */
      width: 100%;
      height: auto;
      display: block;
    }
    
    .button {
      font-size: 1.5em;
      margin: 0 auto;
      display: inline-block;
      background-color: $ltgray;
      border-color: $ltgray;
      &:hover {
        background-color: $mdgray;
        border-color: $mdgray;
      }
    }
    
  }

  #video-chat.pair article {
    padding-bottom: 56.25%; /* 16:9 */
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* ATTENDEES */
  
  #attendees {
    ol {
      font-size: 1.5em;
    }
    li.attendee {
      text-shadow: 0 1px 0 #fff, 0 -1px 0 $black50;
      font-weight: 500;
      ul {
        position: absolute;
        right: 0;
        top: 20px;
        display: none;
        z-index: 500;
        background: $white;
        padding-bottom: 5px;
        @include rounded(0 0 4px 4px);
        li {
          font-size: .7em;
          float: none;
	  display: block;
          padding: 2px 5px;
        }
      }
      section {
        float: right;
        display: none;
        margin-top: 2px;
        h1 {
          width: 16px;
          height: 16px;
          background: url(../img/icons/sprite.png) -234px -64px no-repeat;
          text-indent: -9999px;
          @include animate(0s, none);
        }
        &:hover h1 {
          background-position: -4px -64px;
          cursor: pointer;
        }
      }
    }
    li.attendee:hover {
      cursor: pointer;
      section {
        display: inline;
      }
      section:hover ul {
        display: block;
      }
    }
  }
    
  /* FOOTER */
  
  footer {
    padding: 10px 2.08033333%; /* 10 & 20 / 960 */
    border: 0;
    small {
      width: 62.5%; /* 560 / 960 */ 
    }
  }
  
}/*/mediaquery*/

@media screen and (min-width: 1024px) {

  /* COLUMNS */
  
  #main {
    width: 72.7272727272727%; /* 800 / 1100 */ 
    margin-left: 2.2727272727273%; /* 25 / 1100 */
  }

  aside {
    width: 20.4545454545455%; /* 225 / 1100 */
    margin-right: 2.2727272727273%; /* 25 / 1100 */
  }
  
  /* LAYERS */
  
  
  #leader {
    padding: 15px 6.25% 50px;
    width: 58%;
    h1 {
      font-size: 6.8em;
    }
    p {
      font-size: 2em;
    }
  }
  
  /* PAGE COMPONENTS */
  
  #stage {
    width: 62.5%; /* 500 / 800 */
    padding: 3.125%; /* 25 / 800 */
    @include float(left);
  }
  #chat {
    width: 25%; /* 200 / 800 */
    padding: 1.875%; /* 10 / 800 */
    @include float(right);
  }
  
  #ace-editor {
    height: 500px !important;
  }
  
  #attendees {
    padding: 10% 0 0;
  }

  /* FEATURED */

  #featured {
  
    padding: 2.2727272727273% 0 2.2727272727273% 2.2727272727273%; /* 25 / 1100 */
    
    > a {
      width: 28.372093023256%; /* 310 / 1075 */
      margin: 1.8604651162791% 2.3255813953488% 0 0; /* 25 / 1075 */
      padding: 0.9302325581395%; /* 10 / 1075 */
      img {
        width: 100px;
        height: 100px;
      }
    }
    
    > a:nth-of-type(2n+1) {
      clear: none;
    }

    > a:nth-of-type(3n+1) {
      clear: left;
    }
  }
  
    /* STAGE */
    
    #editor {

      select {
        margin-right: 0;
        width: 55%;
      }
      
      label, select {
        @include float(left);
      }

    }

    #run-code {
      right: 25%;
    }

  /* STAGE LIST */
  
  #stage-list {
  
    padding: 2.2727272727273% 0 2.2727272727273% 2.2727272727273%; /* 25 / 1100 */
    
    #search {
      width: 40%;
      margin-right: 2.272727272727273%;
    }
    
    > a {
      width: 15.8139534883721%; /* 170 / 1075 */
      margin: 1.8604651162791% 2.3255813953488% 0 0; /* 25 / 1075 */
      padding: 0.9302325581395%; /* 10 / 1075 */
    }
    
    > a:nth-of-type(4n+1) {
      clear: none;
    }
    
    > a:nth-of-type(5n+1) {
      clear: left;
    }
  }

  /* TEXT CHAT */
  
  #conversation {
    height: 500px;
    margin-top: 5px;

    article {
      font-size: 1.2em;
      margin: 0 0 .5em;

    }

  }
  
  #chat {

    input[type="text"] {
      width: 100%;
      margin-right: 0%;
    }
    
    input[type="submit"] {
      width: auto;
      margin-top: 10px;
      float: none;
    }

  }
  
  footer {
    nav {
      font-size: 1.2em;
    }
    small {
      width: 52%;
      font-size: 1.1em;
    }
  }
  
}/*/mediaquery*/

@media screen and (min-width: 1500px) {

  /* LEADER */
  
  #leader {
    padding: 50px 5% 35px;
    h1 {
      font-size: 6em;
    }
  }

}/*/mediaquery*/





/*- BROWSER PATCHES
----------------------------------------------------------------------*/

.ie6 {}
.ie7 {}
.ie8 {}
.ie9 {}