
        <%- partial("header") %>

<article id="leader">
  <h1>Real time code collaboration with an&nbsp;audience</h1>
  <p>Like Gist without the waiting.</p>
</article>

        <%- partial("stage-list") %>

        <%- partial("footer") %>