<header>

	<h1><a href="/" title="Coding Stage's Front Door">Coding Stage</a></h1>
	<iframe src="http://nodeknockout.com/iframe/team-honey-badger?css=https://raw.github.com/gist/1176404/e336c0efd7c6d78fa1f49fda2f5e813ab747f580/ko-button.css" frameborder=0 scrolling=no allowtransparency=true width=115 height=25 class="vote"></iframe>

        <%- partial("nav") %>

</header>
