<!--<div id="notification">
  <section id="approve-collaborators">
    Promote to collaborator? 
      <article>
        [Username] <a href="#" class="approve">Approve</a> <a href="#" class="dismiss">Dismiss</a>
      </article>
  </section>
  <section id="approve-handoff">
    Pass control of the room?
      <article>
        [Username] <a href="#" class="approve">Approve</a> <a href="#" class="dismiss">Dismiss</a>
      </article>
  </section>
</div>-->