<div id="notification">
  <section id="approve-collaborators">
    People want to collaborate with you: 
      <article>
        [Username] <a href="#" class="approve">Approve</a> <a href="#" class="dismiss">Dismiss</a>
      </article>
  </section>
  <section id="approve-handoff">
    <article>
      [Username] <a href="#" class="approve">Approve</a> <a href="#" class="dismiss">Dismiss</a>
    </article>
    : would like control of the room
  </section>
</div>