<table>
  <% stages.forEach(function(stage) { %>
    <tr>
      <td><%= stage.name %></td>
      <td><%= stage.language %></td>
      <td><%= stage.stub %></td>
      <td><%= stage.channel %></td>
    </tr>
  <% }) %>
</table>
