<form action="/stages" method="POST">
  <div class="field">
    <label>Name</label>
    <input type="text" name="stage[name]" />
  </div>

  <div class="field">
    <label>Language</label>
    <select name="stage[language]">
      <option value="JavaScript">JavaScript</option>
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
    </select>
  </div>

  <div class="submit">
    <button type="submit">Save</button>
  </div>
</form>
