<form action="/stages" method="POST">
  
  <h1>Create A New Stage</h1>

  <% if(!everyauth.loggedIn) { %>
      <a href="/auth/github" title="Login through GitHub" class="login">Login through GitHub</a>
  <% } %>
  <% if(everyauth.loggedIn) { %>
  <p class="loggedin">You're logged in as <strong><%= everyauth.user.github.name %></strong>. <a href="/logout" title="Logout of Coding Stage">Logout</a></li>
  <% } %>

  <fieldset>
    <label for="room-name">Stage Name</label>
    <input type="text" name="stage[name]" id="room-name" />

    <label for="language">Language</label>
    <select name="stage[language]" id="language">
      <option value="JavaScript">JavaScript</option>
      <option value="HTML">HTML</option>
      <option value="CSS">CSS</option>
      <option value="Ruby">Ruby</option>
      <option value="CoffeeScript">CoffeeScript</option>
    </select>
  <fieldset>

  <input type="submit" value="Create Your Stage">

</form>
