/*-  VANITY STYLES
----------------------------------------------------------------------*/
::selection {
  background: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #fff;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none; }

  a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } }
/*- SHARED STYLES PLUS SUB 480PX MEDIA QUERY STYLES
----------------------------------------------------------------------*/
body {
  font-size: 62.5%;
  /* Reset 1em to 10px */
  line-height: 1.3;
  font-family: Univers, 'Helvetica Neue', Helmet, FreeSans, sans-serif;
  font-weight: 500;
  background: #eef2f2 url(../img/bg/noise.png) center top repeat;
  min-height: 100%; }

body, select, input, textarea {
  color: #1d2929; }

a {
  text-decoration: none; }

header {
  overflow: hidden;
  background: #4a525a url(../img/bg/noise.png) center top repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#656c74), to(#4a525a));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #656c74, #4a525a);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #656c74, #4a525a);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #656c74, #4a525a);
  /* IE10 */
  background-image: -o-linear-gradient(top, #656c74, #4a525a);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #656c74, #4a525a);
  font-family: Univers, 'Helvetica Neue', Helmet, FreeSans, sans-serif;
  font-weight: 900; }

.button {
  background: #4da4a4 url(../img/bg/grad-button.png) left top repeat-x;
  padding: 5px 10px 4px;
  display: inline-block;
  border: 1px solid #4da4a4;
  color: #fff;
  font-size: 1.1em;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 3px rgba(29, 41, 41, 0.5);
  -moz-box-shadow: 0 0 3px rgba(29, 41, 41, 0.5);
  -o-box-shadow: 0 0 3px rgba(29, 41, 41, 0.5);
  box-shadow: 0 0 3px rgba(29, 41, 41, 0.5);
  text-shadow: 0 -1px 0 rgba(77, 164, 164, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Univers, 'Helvetica Neue', Helmet, FreeSans, sans-serif;
  font-weight: 700;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s; }
  .button:hover {
    background-color: #92d05c;
    border-color: #92d05c; }

/*- ACE HAMMERS
----------------------------------------------------------------------*/
.ace_gutter {
  width: 7.1428571428571% !important;
  /* 50 / 560 */ }

.ace_scroller {
  width: 89.2857142857143% !important;
  /* 500 / 560 */ }

.ace_content {
  width: 100% !important; }

/* MEDIA QUERIES
-------------------------------------------------------------------------------*/
/*/mediaquery*/
/*/mediaquery*/
@media screen and (min-width: 768px) {
  /* HEADER */
  header {
    padding: 1.0416667% 2.08033333%;
    /* 10 & 20 / 960 */
    margin-bottom: 20px;
    width: 95.833333%;
    /* 920 / 960 */
    border-bottom: 1px solid #656c74;
    -webkit-box-shadow: 0 1px 0 #1d2929;
    -moz-box-shadow: 0 1px 0 #1d2929;
    -o-box-shadow: 0 1px 0 #1d2929;
    box-shadow: 0 1px 0 #1d2929; }

  .no-boxshadow header {
    border-bottom: 2px solid #1d2929; }

  header nav {
    float: right;
    display: inline;
    overflow: hidden; }

  header nav li {
    float: left;
    display: inline;
    overflow: hidden;
    padding: 1px;
    margin: 0 5px; }

  header nav li a {
    padding: 6px 5px 8px;
    font-size: 1.4em;
    color: #eef2f2;
    opacity: 0.6;
    text-transform: uppercase;
    text-shadow: 0 -1px #1d2929;
    display: block;
    position: relative;
    line-height: 1;
    border-top: 1px solid transparent;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    header nav li a:hover {
      opacity: 1;
      background: rgba(238, 242, 242, 0.25);
      border-top: 1px solid rgba(29, 41, 41, 0.75); }

  /* COLUMNS */
  #main {
    width: 62.5%;
    /* 560 / 960 */
    margin-left: 2.08033333%;
    /* 20 / 960 */
    float: left;
    display: inline;
    overflow: hidden; }

  aside {
    width: 31.25%;
    /* 300 / 960 */
    margin-right: 2.08033333%;
    /* 20 / 960 */
    float: right;
    display: inline;
    overflow: hidden; }

  /* PAGE COMPONENTS */
  #room, #chat, #video-chat, #attendees {
    margin-bottom: 20px;
    padding: 2.6785714285714% 3.5714286%;
    /* 20 / 560 */
    overflow: hidden;
    position: relative; }

  #ace-editor {
    width: 100% !important;
    display: block;
    position: relative;
    height: 300px !important;
    margin: 15px 0;
    background: #fff;
    border: 1px solid #d7d7b8; }

  #room {
    background: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 5px rgba(29, 41, 41, 0.5); }

  #video-chat, #attendees {
    padding: 7.6923077%;
    /* 20 / 260 */ }

  /* ROOM */
  .invite {
    position: absolute;
    top: 4.1%;
    right: 3.5714286%; }

  #room-settings label, #editor label {
    font-size: 1.2em;
    display: inline-block;
    margin-right: .5em; }
  #room-settings select, #editor select {
    margin-right: 1.5em;
    background-position: 100% 8px;
    width: 60%; }
  #room-settings .import, #editor .import {
    float: right;
    display: inline;
    overflow: hidden; }

  #room-settings {
    margin: 1em 0 0; }
    #room-settings legend {
      color: #b7bcc2;
      font-size: 1.2em;
      font-weight: 700;
      text-transform: uppercase;
      background: url(../img/forms/select_arrow.gif) 100% 7px no-repeat;
      padding-right: 16px; }
      #room-settings legend:hover {
        cursor: pointer;
        color: #656c74; }
    #room-settings legend.open {
      background-position: 100% -24px; }
    #room-settings input, #room-settings label {
      display: none;
      margin-top: 1em; }
    #room-settings input[type="text"] {
      width: 40px;
      position: relative;
      top: -7px;
      margin-right: 1em; }
    #room-settings input {
      margin-right: 1.5em; }
    #room-settings input[type="submit"] {
      background: transparent;
      border: 0;
      padding: 0;
      text-shadow: none;
      color: #4da4a4;
      font-weight: 500;
      margin-top: 0;
      -webkit-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      transition: all ease-in-out 0.2s; }
      #room-settings input[type="submit"]:hover {
        color: #4a525a; }
    #room-settings label {
      margin-right: 0.5em; }

  /* FOOTER */
  footer {
    clear: both; }

  /* TYPOGRAPHY */
  section h1 {
    font-size: 2.4em;
    color: #4da4a4;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(29, 41, 41, 0.75);
    line-height: 1;
    font-family: ostrich-sans, Univers, 'Helvetica Neue', Helmet, sans-serif;
    font-weight: 900; }

  aside h1 {
    font-size: 2em;
    color: #4a525a;
    text-shadow: 0 1px 0 #eef2f2; } }
/*/mediaquery*/
/*/mediaquery*/
/*/mediaquery*/
/*- BROWSER PATCHES
----------------------------------------------------------------------*/
